body {
    background-color: #242333;
    color: white;
    font-family: 'Open Sans';
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 50px;
    margin: 0px;
    padding: 0px
}

#navbar {
    position: fixed;
    top: 0px;
    border-collapse: collapse;
    width: 100%;
    transition: background 0.3s ease-out;
}

#navbar tr td{
    border: none;  
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.nav {
    width: 16.66666667%;
    font-size: 10px;
    font-size: 1.75vw;
    transition: background-color 0.3s ease-out;
}

.nav:hover {
    color:#242333;
    background-color: #DAE3E5;
}

#section img {
    max-width: 40vw;
    height: auto;
    padding: 25px;
}

#section p {
    max-width: 40vw;
    height: auto;
    padding-left: 2vw;
    padding-right: 2vw
}

a {
    color:white;
    transition: background-color 0.3s ease-out;
}

a:hover {
    background-color: white;
    color:#242333;
}

